body {
    background-image: url("/hotel.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1 {
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    height: 50px;
    width: 100px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 20px;
}

button:hover {
    background-color: #87CEEB;
    color: black;
}
